<div class="mat_container">
  <div mat-dialog-actions>
    <button mat-button class="cancel" mat-dialog-close><span class="material-icons">
      clear
      </span></button>
  </div> 

</div>
<div>
  <h1 mat-dialog-title class="title">SHSS_chatbot</h1>
</div> 


<div mat-dialog-content>
  <form  class="chatcontrol">
    <div class="input-group mb-3">
    <input matInput type="text" class="form-control chatinput" placeholder="Enter your Message" name="content" aria-label="Enter your Message" aria-describedby="Enter your Message"  />
    <div class="input-group-append">
      <button class="btn btn-primary sendbtn"><span class="material-icons">
        send
        </span>
      </button>
    </div>
  </div>
</form>
</div>
