<div class="login-quiz">
<app-app-loader></app-app-loader>
<div class="container">
    <div class="col-md-12 pad-0">
    <div class="row login-box-6">
        <mat-card class="no-pad">
            <mat-card-content>
                <div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-pad-0 align-self-center">
                        <div class="login-inner-form">
                            <div class="details">
                                <h2>State Street Assessment Tool 
                                </h2>
                                <h4>Reset Password</h4>
                                <form [formGroup]="resetPasswordForm">
                                    <div class="form">
                                        <div class="form-group form-box">
                                        <mat-form-field>
                                            <mat-label>New Password</mat-label>                                     
                                            <input matInput type="password" formControlName="newPassword" class="input-text" minlength="8" maxlength="16" required>
                                            <i class="material-icons">
                                                    lock
                                            </i>
                                        </mat-form-field>
                                        <small *ngIf="resetPasswordForm.controls['newPassword'].hasError('required') && resetPasswordForm.controls['newPassword'].touched" 
                                        class="form-error-msg"> Password is required. </small>
                                    </div><br>
                                    <div class="form-group form-box">
                                        <mat-form-field>         
                                            <mat-label>Confirm Password</mat-label>                         
                                            <input matInput type="password" formControlName="confirmPassword" class="input-text" minlength="8" maxlength="16" onChange="checkPassword()" required>
                                            <i class="material-icons">
                                                    lock
                                            </i>
                                        </mat-form-field>
                                        <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched" 
                            class="form-error-msg"> Confirm Password is required. </small>
                                    <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('minlength') && resetPasswordForm.controls['confirmPassword'].touched" 
                                    class="form-error-msg">Confirm Password should be of minimum 8 characters </small> 
                                    <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('maxlength') && resetPasswordForm.controls['confirmPassword'].touched" 
                                    class="form-error-msg">Maximum 16 characters are allowed </small> 
                                    <small *ngIf="passwordMatch == false" class="form-error-msg">Password does not match.</small> 
                                    </div>
                                        <div class="form-group m-t-40">
                                        <button mat-raised-button class="btn-md btn-theme btn-block" (click)="resetPassword();"
                                        [disabled]="!resetPasswordForm.valid">Reset Password</button>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>
</div>
</div>