.chatform{
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #CCCCFF;
}

.chatcontrol{
  float: left;
  width: 100%;  
}
.chatinput{
  width: 80%;
  float: left;
  border-radius: 30px;
}
.sendbtn{
  width: 50px;
  float: left;
  border-radius: 0;
  text-transform: uppercase;
  border-radius: 30px;
}

.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  float: left;
  width: 100%;

}



.timestamp{
  font-size: 0.8em;
}
.avatar{
  width: 50px;
  margin-right: 20px;
}

.chatlist{
  height: 80vh;
  overflow-y: scroll;
    padding: 10px 10px 15px 10px;
    border-radius: 0 0 6px 6px;
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: bisque;
}
.list-group{
  border-radius: 30%;
 
}
ul.list-group{
  width: 300px;
  height: 40px;
  word-break: break-all;
  
}
li.list-group-item {
  border-radius: 40px 50px  50px 5px;
  margin: 5px;
}